{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue -
  {{ app_name | raw }}
{% endblock %}

{% block body %}

  <div class="ui-central-btn-ctnr">
    <a class="ui-hoverable ui-central-btn" type="button" href="/decouvrir">
      Découvrir
    </a>
  </div>

{% endblock %}
