{% extends 'base.html.twig' %}

{% block body %}

  <div class="ui-central-btn-ctnr">
    <button class="ui-hoverable ui-central-btn" type="button">
      Découvrir
    </button>
  </div>

{% endblock %}
