.mobile-nav-open {

  top: 1.5rem;

  &:before {
    top: 2rem;
  }

  &:after {
    top: 2.5rem;
  }

  &,
  &:before,
  &:after {
    content: "";
    background: var(--red-4);
    width: 2rem;
    height: 4px;
    display: block;
    right: 1rem;
    position: fixed;
    border-radius: 1rem;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  background-color: white;
  z-index: 300;
  height: 100vh;
  overflow-y: auto;
  transform: translateX(75vw);
  transition: all 500ms ease;

  &.open {
    transform: translateX(0);
  }

  & .mobile-nav-close {
    text-align: right;
    margin: 0;
    padding: 5rem 0 0 0;
    cursor: pointer;
    transition: color 200ms ease;

    &:hover {
      background: rgba(0, 0, 0, .04);

      &:before,
      &:after {
        background: var(--red-5);
      }
    }

    &:before,
    &:after {
      content: "";
      background: var(--red-4);
      width: 2rem;
      height: 4px;
      display: block;
      right: 1rem;
      position: fixed;
      top: 2rem;
      border-radius: 1rem;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }

  }

  & .mobile-nav-content {
    list-style: none;
    padding: 0 0 0 1rem;

    & .mobile-nav-header {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    & .mobile-link {
      margin: 1rem 0;
      font-size: 1.5rem;
      transition: color 200ms ease;

      &:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media all and (min-width: 640px) {
  [class^="mobile-nav"] {
    display: none;
  }
}