.ui-fake-header {
  min-width: 100%;
  min-height: 7rem;
  background: #fff;
  content: "";
  position: fixed;
  top: 0;
  z-index: 1;
}

body .ui-container .ui-main-content.ui-about-container {

  & .about-row {
    margin: 0;
  }

  // & .about-panel {
  //   max-width: 50%;
  //   width: 50%;
  // }

  // PARTIE "PHOTO"

  & .about-panel {
    padding: 30px 0 0 0;
    position: absolute;
    top: 5rem;
    right: 0;
    -webkit-animation: example 1.2s both ease-in;
    -moz-animation: example 1.2s both ease-in;
    animation: example 1.2s both ease-in;
    height: 100vh;

    & .photo-about {
      position: relative;
      top: 0;
      height: 100vh !important;
      background-size: cover;
      overflow: hidden;
    }

    & .about-info {
      position: absolute;
      z-index: 0;
      bottom: 0;
      color: white;
      text-align: center;
      width: 100%;
      height: 33%;
      background: rgba(239, 83, 80, 0.85);
      padding-top: 1rem;

      & .about-info-name {
        width: 100%;
        letter-spacing: 3px;
        font-weight: 500;
      }

      & .about-info-contact {
        margin-top: 25px;
        padding-bottom: 100px;
        margin-bottom: 100px;
        height: 130px;

        & h4 {
          margin-bottom: 5px;
          font-weight: 300;
        }

        & p, & a {
          font-weight: 300;
          margin-top: 6px;
          margin-bottom: 0;
          color: var(--yellow-1);
        }

        & a {
          font-weight: 300;
          color: var(--yellow-1);
        }
      }
    }
  }

  // CONTENU

  & .about-content {
    padding-top: 30px;
    background: white;
    color: #4B384C;

    & p,
    & blockquote {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.07em;
    }

    & h1 {
      // color: #e0aa3e;
      text-align: center;
      line-height: 90px;
      font-size: 90px;
      font-weight: 200;
      letter-spacing: -0.1em;
      width: 95%;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    & .gold-separator {
      width: 52px;
      height: 4px;
      background: #e0aa3e;
      margin: 30px 0;
    }

    & .bold-content {
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      width: 100%;
    }

    & .about-me {
      margin: 3% auto;
      text-align: justify;
      font-weight: 300;
      width: 63%;

      & p {
        line-height: 23px;
      }

      & .about-row {
        height: 100vh;
      }


    }
  }

  /* Generates animations for cascading tiles */
  & .about-panel {
    height: 100%;
    height: 100%;
    height: 100%;
  }

  & .about-panel .about-info-contact {
    display: block;
    margin: 30px;
  }

  & .about-panel .about-info-contact .up-two {
    -webkit-animation-delay: 0.08s;
    -moz-animation-delay: 0.08s;
    animation-delay: 0.08s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: block;
  }

  & .about-panel .about-info-contact {
    display: block;
    margin: 30px;
  }

  & .about-panel .about-info-contact .up-three {
    -webkit-animation-delay: 0.16s;
    -moz-animation-delay: 0.16s;
    animation-delay: 0.16s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: block;

    & i {
      font-size: 1rem;
      position: absolute;
      margin-left: -1.25rem;
    }
  }

  & .about-panel .about-info-contact {
    display: block;
    margin: 30px;
  }

  & .about-panel .about-info-contact .up-four {
    -webkit-animation-delay: 0.24s;
    -moz-animation-delay: 0.24s;
    animation-delay: 0.24s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: block;
  }

  & .photo-about {
    background: url("../images/tomomi.jpg") no-repeat center center;
    background-size: cover;
    z-index: 0;
  }

  & .hide-photo-filter {
    position: relative;
    top: 0;
    background-color: rgba(255, 30, 173, 0.2);
    z-index: 0;
    width: 100%;
    height: 100%;
  }

}

@media all and (max-width: 639px) {

  .ui-container.container-fluid .ui-fake-header {
    min-height: 4rem;
    height: 4rem;
  }

  body .about-panel-wrapper {
    position: absolute;
    top: -44px;
  }

  body .ui-container .ui-main-content.ui-about-container .about-content {
    padding-top: 65vh;
  }

  body .ui-container .ui-main-content.ui-about-container .about-panel .photo-about {
    height: 60vh !important;

    & .about-info .about-info-contact {
      margin-top: -.5rem;
    }
  }
}